#body {
    background-color: #1E2124;
    color: #fcfcf7;
}
.navbar-brand {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
}
.navbar-list-container {
    font-family: "tablet-gothic", sans-serif;
    font-weight: 300;
}
/* Hide carousel caption on extra small screens (less than 576px) - Optional */
@media (max-width: 575.99px) {
    .carousel-caption {
      display: none;
    }
  }
  .carousel-caption {
    font-family: "tablet-gothic", sans-serif;
    font-weight: 300;
  }
  .carousel-caption h4 {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
  }
.who h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 2rem;

    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
    color: #fcfcf7;
}
.container-who {
    margin-top: -1rem;
}
.more-info {
    text-align: center;
}
.container-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.container-text h3 {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
}
.container-text p {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: justify;
}
.col-sm {
    text-align: center;
}
.explore    {
    margin-bottom: 2rem;
}