#body {
    background-color: #1E2124;
    color: #fcfcf7;
}
.navbar-brand {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
}
.navbar-list-container {
    font-family: "tablet-gothic", sans-serif;
    font-weight: 300;
}
/* Hide carousel caption on extra small screens (less than 576px) - Optional */
@media (max-width: 575.99px) {
    .carousel-caption {
      display: none;
    }
  }
  .carousel-caption {
    font-family: "tablet-gothic", sans-serif;
    font-weight: 300;
  }
  .carousel-caption h4 {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
  }
  .card-text {
    padding-left: 1rem;
    color: white;
    font-family: "tablet-gothic",sans-serif;
 }
 .card-title h5 {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
 }